<h3>New Image Entry</h3>
<form #form="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="Title"
           [(ngModel)]="title" required>
  </div>
  <div class="form-group">
    <input #imgUpload type="file" class="form-control" name="image"
           image-upload (imageSelected)="imageSelected($event)"
           [resizeOptions]="resizeOptions" required>
  </div>
  <small class="form-text">
    Please note: The image will be resized to max. {{ maxImageSize }} px in width and height.
  </small>
  <br>
  <div class="float-right" style="margin-bottom: 20px">
    <button type="submit" class="btn btn-primary"
            (click)="publishImageEntry(title)"
            [disabled]="!form.valid || !image || busy">
      Publish
    </button>
    <button type="button" class="btn btn-danger"
            (click)="abort()">Abort</button>
  </div>
  <img #imgPreview type="file" [src]="image" [hidden]="!image"
       style="max-width: 100%">
</form>
