<h3>Login</h3>
<p>Your authentication will be valid until the browser is closed.</p>
<form class="form" method="post" #form="ngForm">
  <div class="form-group">
    <input class="form-control" type="text" id="username"
           name="username "required placeholder="Username"
           [(ngModel)]="username">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" name="password"
           required id="password" placeholder="Password"
           [(ngModel)]="password">
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary"
            [disabled]="!form.valid"
            (click)="authService.login(username, password)">
      Login</button>
    <button type="submit" class="btn btn-danger"
            (click)="authService.abort()">Abort</button>
  </div>
</form>
